
 
 body {
      font-family: 'josefin sans', sans-serif;
      color: #333;
      background-color: #CDE2F1;
      margin-top: 0px;
      margin-left: 0px;
      margin-right:0px
   }
   body{
      border-left: 140px solid #F1984D;
      border-right: 140px solid #F1984D;
    }

   header {
   background-color: #CDE2F1;
   color: #3a400c;;
   font-family: "josefin", sans-serif;
   font-weight: 600;
   font-style: normal;
   font-size: 37px;
   padding: 10px;
   text-align: center;
 }
  
 img{
   width:90%;
   height: 600px;
   margin-top: 30px;
   margin-left: 60px;
   margin-bottom: 20px;
 }
 aside{ 
      width: 70%;
      margin-left: 60px;
      margin-bottom: 30px;
      margin-top: 20px;
  }
  
 h3,h2{
   background-color: #CDE2F1;
   padding-top: 10px;
 }
 h2{
   font-size: 22.5px;
 }
 
 h3{
   color: #04ADBF;
   font-size: 18px;
 }
 nav {
   display: flex;
   justify-content: space-between;
   background-color:#CDE2F1; 
   padding: 10px;
   color: #04ADBF;
 }

 footer {
   background-color: #04ADBF;
   color: #3a400c;
   text-align: center;
   padding: 10px;
   bottom: 0;
   width: 100%;
 }